/*
   CSS RESET
   
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */

/* general */
html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #E0E0E0;
  color: #9A0100;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/* END general */

/* header */
.page-header {
  padding: 1em 5% 0 5%;
}

@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }
}

.main-heading {
  font-weight: bold;
  font-size: 1.5em;
  padding: .3em 0;
}

.main-heading::first-letter {
  color: white;
  background: #9A0100;
  text-transform: uppercase;
  padding: .3em;
  font-weight: bold;
  margin-right: .1em;
}

.main-menu {
  margin-top: .7em;
}

@media screen and (min-width: 768px) {
  .main-menu .menu-list {
    display: flex;
  }
}

.main-menu .menu-item {
  background: #9A0100;
  padding: .5em 1.1em;
}

.main-menu .menu-item:not(:first-child) {
  margin-top: .4em;
}

@media screen and (min-width: 768px) {
  .main-menu .menu-item:not(:first-child) {
    margin-top: 0;
    margin-left: .3em;
  }
}

/* END header */

/* content */
.page-content {
  margin-top: 1em;
}

.content-header {
  padding: 2em 5%;
  background: #F0F0F0;
}

.content-heading {
  font-size: 1.3em;
  font-weight: bold;
}

.content-section {
  padding: 0 5%;
  margin-top: 1.2em;
}

@media screen and (min-width: 768px) {
  .content-section:not(.form-page) {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .content-section:not(.form-page) {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1920px) {
  .content-section:not(.form-page) {
    grid-template-columns: auto auto auto auto;
  }
}

.section-article {
  background: #F0F0F0;
}

.section-article:not(:first-child) {
  margin-top: .2em;
}

@media screen and (min-width: 768px) {
  .section-article:not(:first-child) {
    margin-top: 0;
  }
}

.rent-offer-article {
  border: 1px solid white;
  padding: .4em 1em;
}

.rent-offer-header {
  margin-top: 1.5em;
}

.rent-offer-heading {
  color: #9A0100;
  font-size: .9em;
  font-weight: bold;
}

.rent-offer-section {
  margin-top: 1em;
}

.car-image {
  width: 100%;
}

.car-price {
  color: #9A0100;
  margin-top: 1em;
}

.rent-offer-section .car-price {
  font-size: .8em;
}

.car-order {
  background: #9A0100;
  margin-top: .3em;
  display: block;
  width: fit-content;
  padding: .4em .7em;
}

.done-rent-article {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: .1em;
}

.car-info {
  border: 1px solid white;
  border-top: none;
  padding: 2em 1.2em;
}

.car-info .car-price {
  font-size: .9em;
}

.car-name {
  font-weight: bold;
  margin-bottom: 1em;
}

.other-data {
  display: grid;
  flex-direction: column;
  width: 100%;
  grid-template-columns: 100%;
  padding-left: .2em;
  font-size: .9em;
}

.user-info {
  border-bottom: 1px solid white;
  margin-top: 2em;
}

.user-info,
.rent-info {
  padding: 0 1.2em 1.2em 1.2em;
}

.user-full-name {
  font-weight: bold;
  font-size: 1.5em;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.user-email {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1em 0;
}

.rent-info {
  border-top: 1px solid white;
  margin-top: .1em;
  padding-top: 2em;
}

.rent-date {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  font-weight: bold;
}

.rent-length {
  margin: 1em 0;
}

.tools {
  margin-top: 1.5em;
  display: flex;
  justify-content: flex-end;
}

.tools a:not(:last-child) {
  margin-right: 1.3em;
}

.tools svg {
  color: #9A0100;
  font-size: 1.5em;
}

.form-page {
  background: #F0F0F0;
  padding: 0;
  margin: 1.2em 5% 0 5%;
  border: 1px solid white;
  border-top: none;
  max-width: 50em;
}

@media screen and (min-width: 1024px) {
  .form-page {
    margin: 0 auto;
  }
}

.form-page .section-header {
  padding: 2em 1em 1.5em 1em;
}

.form-page .section-content {
  padding: 0 1em 1em 1em;
}

.admin-form input:not([type="submit"]) {
  border: 1px inset #8A8A8A;
  padding: .6em .5em;
  font-weight: bold;
  max-width: 30em;
}

.admin-form .input-row:not(:first-child) input {
  margin-top: .6em;
}

.admin-form .full-width-input {
  width: 100%;
}

.admin-form .price-input {
  width: 8em;
}

.admin-form input[type="file"] {
  background: white;
}

.admin-form .send-button {
  background: #9A0100;
  border: none;
  color: white;
  width: 100%;
  margin-top: .6em;
  padding: .4em 0;
  font-weight: bold;
  max-width: 30em;
}

.admin-form .form-message {
  margin-top: 1em;
}
/* END content */